<nav style="z-index: 1;" class="navbar navbar-expand-lg bg-body-tertiary position-fixed top-0 w-100">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="">
      <i class="fa-solid fa-crown text-warning fs-2"></i> 
      <span class="ms-2">Shop Zest</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li *ngIf="dataFromParent" class="nav-item">
          <input (keyup)="getSearchKey($event)" style="width: 350px;" class="form-control me-2" type="search" placeholder="Search By Product Name"
            aria-label="Search">
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary d-flex align-items-center" routerLink="/wishlist">
            <i class="fa-solid fa-heart text-danger me-1"></i> Wishlist 
            <span class="badge text-bg-secondary ms-1">{{wishlistCount}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary ms-2 d-flex align-items-center" routerLink="/cart">
            <i class="fa-solid fa-cart-plus text-success me-1"></i> Cart 
            <span class="badge text-bg-secondary ms-1">{{cartCount}}</span>
          </a>
        </li>
        <li class="nav-item">
          <ng-container *ngIf="!username; else loggedIn">
            <a class="btn ms-2 d-flex align-items-center" routerLink="/login">
              <i class="fa-solid fa-user text-primary me-1"></i> LOGIN
            </a>
          </ng-container>
          <ng-template #loggedIn>
            <div class="d-flex align-items-center">
              <span class="fw-bolder ms-5 me-2">Welcome {{username}},</span>
              <!-- Logout -->
              <button (click)="logout()" class="btn btn-primary">Logout 
                <i class="fa-solid fa-right-from-bracket ms-1"></i>
              </button>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
