<div style="height: 350px;" class="d-flex justify-content-center align-items-center bg-dark text-light flex-column">
    <div class="d-flex justify-content-between w-100 mb-2 p-3">
        <div class="about w-25">
            <h3><i class="fa-solid fa-crown text-warning fs-3"></i> Shop Zest</h3>
            <p>Designed and built with all the love in the world by the Bootstrap team with the help of contributors.
            </p>
            <p>Code licensed MIT , docs CC BY 3.O.</p>
            <p>Currently v5.3.2</p>
        </div>
        <div class="help">
            <div class="d-flex flex-column">
                <h3>Help</h3>
                <a style="text-decoration: none;color: white;" routerLink="">Home</a>
                <a style="text-decoration: none;color: white;" routerLink="/wishlist">Wishlist</a>
                <a style="text-decoration: none;color: white;" routerLink="/cart">Cart</a>
            </div>
        </div>
        <div class="address">
            <h3>Registered Address</h3>
            <h6 class="mt-3">Manhattan P.O.</h6>
            <h6 class="mt-3">Near Center Square</h6>
            <h6 class="mt-3">679066</h6>
        </div>
        <div class="contact">
            <h3>Contact Us</h3>
            <div class="d-flex mt-3">
                <input type="text" placeholder="Message" class="form-control">
                <button class="btn btn-warning ms-1"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="icons d-flex justify-content-between mt-3">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-solid fa-phone"></i>
            </div>
        </div>
    </div>
    <p class="fw-bolder">All Rights Reserved &copy; Shop Zest &reg; 2024</p>
</div>