<app-header [dataFromParent]="insideHome"></app-header>
<div>
  <header class="py-5">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img height="400px"
            src="https://cdn.vectorstock.com/i/500p/91/98/shopping-online-with-discount-conceptual-banner-vector-47519198.jpg"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img height="400px"
            src="https://t3.ftcdn.net/jpg/04/65/46/52/360_F_465465254_1pN9MGrA831idD6zIBL7q8rnZZpUCQTy.jpg"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img height="400px"
            src="https://marketplace.canva.com/EAE6uxzge6c/1/0/1600w/canva-yellow-and-white-minimalist-big-sale-banner-BjBIq-T_6j4.jpg"
            class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  <h1 class="text-center text-secondary">Our Products</h1>
  <!-- Section-->
  <section class="py-3">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div *ngFor="let product of allProducts | search : searchKey " class="col mb-5">
          <div class="card h-100 p-2">
            <!-- Product image-->
            <img height="200px" style="cursor: pointer;" routerLink="/{{product.id}}/view" class="card-img-top"
              [src]="product.image" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{product.title.slice(0,20)}}</h5>
                <!-- Product price-->
                ${{product.price}}
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="d-flex justify-content-between">
                <button (click)="addToWishlist(product)" class="btn"><i
                    class="fa-solid fa-heart text-danger"></i></button>
                <button (click)="addToCart(product)" class="btn"><i
                    class="fa-solid fa-cart-plus text-success"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>